@import "modal.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "B612", sans-serif;
}

:root {
  --blue: #0072d2;
  --laranja: #ffa800;
  --black: #131318;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  min-height: 100vh;  position: relative;
}
.bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url(../img/bg.png) no-repeat  ;
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
}

.content {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container-content {
  display: flex;
  gap: 72px;
}

.status{
  font-size: 20px;
  font-weight: 700;
margin-top: 45px;
}
.title {
  margin: 35px 0 100px;
    text-align: center;
  font-size: 96px;
  font-weight: 700;
}

.description {
  max-width: 725px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.container-static {
  display: flex;
  justify-content: flex-start;
  gap: 105px;
margin: 35px 0;
font-size: 24px;
font-weight: 700;
}

.static-time{
 
margin-left: 12px;
}
.align {
  display: flex;
  align-items: center;
}

.button {
  background: var(--blue);
  color: #fff;
  text-decoration: none;
  border: 0;
  height: 52px;
  padding: 15px 27px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms ease-in;
  margin-right:21px;
}
.button:hover {
  filter: brightness(0.8);
}
.button.black{
  background-color: var(--black);
border: 1px solid #fff;
}