
.container {
  background: url("../../assets/images/background.png") no-repeat;
  background-position: top;
  width: 100%;
  min-height:100vh;
  padding: 40px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamburger{
    display: none;
  }
}
.logo {
  background: #ffa634;
  background: -webkit-linear-gradient(to right, #ffa634 0%, #ff267a 100%);
  background: -moz-linear-gradient(to right, #ffa634 0%, #ff267a 100%);
  background: linear-gradient(to right, #ffa634 0%, #ff267a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--mukta);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 66px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 40px;
  text-decoration: none;
  .link {
    font-family: var(--open);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #f9f9f9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #ffa634;
    }
    .link-icon {
      transition: all 0.3s ease-in-out;
    }
    &:hover .link-icon {
      fill: #ffa634;
    }
  }
  
}
.category {
  color: var(--primary-color);
  font-family: var(--open);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1rem;
  padding: 4px 8px;
  background: var(--gray-dark);
  border-radius: 0 8px;
  margin: 58px 0 31px;
}

.movie-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .time {
    font-family: var(--open);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125.19%;

    color: var(--white);
  }
}

.stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  img {
    filter: drop-shadow(0px 3px 12px #ff6b00);
  }
}
.movie-name {
  font-family: var(--open);
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;

  color: var(--white);
  margin-top: 26px;
}
.description-movie {
  max-width: 530px;
  font-family: var(--open);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  color: var(--white);
  margin: 26px 0 61px;
}
.button {
  background: var(--primary-color);
  border-radius: 4px;
  border: 0;
  padding: 12px 64px;
  color: var(--gray-dark);

  font-family: var(--open);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "liga" off;
}

.container-section {
  margin-top: 126px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 40px;
  .logo {
    color: var(--white);
    -webkit-text-fill-color: #f9f9f9;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}
@media (max-width:900px) {
  .header{
    .navigation{
     display: none;
    }
    .hamburger{
      display: block;
    }
  }

  .footer{
    flex-direction: column;
    align-items: center;
    .logo{
      margin-bottom: 40px;
    }
  }

  
}
@media (max-width:700px) {
  .container{
    background-position: 65% top ;
  }
  
}
