@media (max-width: 800px) {
  .header {
    padding: 24px 0;
    .links {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
  .main {
    .container > div {
      align-items: center;
      gap: 20px;
    }
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0 60px;
  }

  .main {
    .container {
      justify-content: center;
      flex-wrap: wrap-reverse;

    h2 {
      font-size: 1.5rem;
      line-height: calc(2rem * 1.5);
    }

    .app-content {
      align-items: center;
      text-align: center;
      gap: 20px;
      p{
        margin-inline:auto ;
      }
      >div{
        margin: auto;

        img{
          margin: 0;
        }
      }
    }
  }
}

}

.container {
  @media (min-width: 2400px) {
    margin: 0 auto;
    max-width: 50%;
  }

  @media (max-width: 600px) {
    margin: 0 15px;
  }
}

