.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(112, 112, 112, 0.678);
  z-index: 2;

  display: none;
 
}
.modal-body {
  background-color: var(--white);
  width: 30%;
  height: 30%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.modal-body h2{
  font-family: 700 2rem var(--lato);
text-align: center;
}
.modal-button{
  border: 0;
  width: 5rem;
  background: var(--green);
  height: 2.5rem;
border-radius: 5px;
color: var(--white);
}
